---
layout: default
---

<div class="container">

    <div class="row justify-content-center">
      <div class="col-xl-4">
        <h1>
          {{site.name}}
        </h1>
      </div><div class="col-xl-4"></div>
  </div>
  
    <div class="row justify-content-center">
        <div class="col-xl-4">
          {% include summary.html %}
        </div>
        <div class="col-xl-4 justify-content-center order-xl-0 order-first d-flex">
          <img style="margin-bottom:10%;display:block;max-height:300px;max-width:300px;" class="rounded-circle center-block" alt="profile photo" src="images/profile_400x400.jpg">
        </div>
    </div>
  
    {% include posts.html %}
  </div>
  