

<hr/>

<div class="row ">
    <div class="col-lg-3   mr-auto" style="padding:2%;vertical-align:middle">

    </div>
    <div class="col-lg-6  mr-auto" style="padding:2%;vertical-align:middle">
        <div  class="section"><h1 id="projects">Research</h1></div>
</div>

<hr/>

{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'research' %}
<div class="row justify-content-md-center">

<div class="col-lg-3 order-1 order-lg-1  mr-auto" style="padding:2%;vertical-align:middle">
    {%if post.image%}
    <img class="img-fluid" src="/tn{{post.image}}" alt="project image"  />
    {% endif %}
</div>
<div class="col-lg-7 order-0 order-lg-1 " style="padding:2.5%" >
    <h2>{{post.title}}</h2>
    <br>
    <h3>{{post.subtitle}}</h3>
    <br>
    {{post.authors}}
    <br>
    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
    <br>
    {% if post.paper %}
    <a href="{{post.paper}}">paper</a> /
    {% endif %}
    {% if post.article %}
    <a href="{{post.article}}">article</a> /
    {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
</div>


</div>
<br>
{% endif %}
{% endfor %}
{% endfor %}



<hr/>

<div class="row ">
    <div class="col-lg-3   mr-auto" style="padding:2%;vertical-align:middle">

    </div>
    <div class="col-lg-6  mr-auto" style="padding:2%;vertical-align:middle">
        <div  class="section"><h1 id="side-projects">Side Projects</h1></div>
</div>


<hr/>


{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'side-project' %}
<div class="row justify-content-md-center">

<div class="col-lg-3 order-1 order-lg-1  mr-auto" style="padding:2%;vertical-align:middle">
    {%if post.image%}
    <img class="img-fluid" src="/tn{{post.image}}" alt="project image"  />
    {% endif %}
</div>
<div class="col-lg-7 order-0 order-lg-1 " style="padding:2.5%" >
    <h2>{{post.title}}</h2>
    <br>
    <h3>{{post.subtitle}}</h3>
    <br>
    {{post.authors}}
    <br>
    {{ post.date | date: "%Y" }}
    <br>
    {% if post.paper %}
    <a href="{{post.paper}}">paper</a> /
    {% endif %}
    {% if post.article %}
    <a href="{{post.article}}">article</a> /
    {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
</div>


</div>
<br>
{% endif %}
{% endfor %}
{% endfor %}