<div id='social-media'>
    {%if site.data.social_media.twitter%}
        <a href="{{site.data.social_media.twitter}}"><i class="fa fa-twitter-square"></i></a>
    {%endif%}

    {%if site.data.social_media.linkedin%}
        <a href="{{site.data.social_media.linkedin}}"><i class="fa fa-linkedin-square"></i></a>
    {%endif%}

    {%if site.data.social_media.medium%}
        <a href="{{site.data.social_media.medium}}"><i class="fa fa-medium-square"></i></a>
    {%endif%}

    {%if site.data.social_media.scholar%}
    <a href="{{site.data.social_media.scholar}}"><i class="fa fa-scholar-square"></i></a>
    {%endif%}
</div>