<p>
Hi, I am Marin, a postdoctoral researcher at the <a href={{site.data.links.eth}}> ETH AI Center</a>,  under supervision of 
of Andreas Krause, Marco Hutter and Bernhard Schoelkopf.</p>

<p>
I completed my PhD degree <em>summa cum laude</em>, examined by Georg Martius, Peter Dayan, Mathias Niepert and Matthias Hein, at the <a href={{site.data.links.mpi}}> Max Planck Institute for Intelligent Systems </a> in Tuebingen, Germany as part of the International Max Planck Research School for Intelligent Systems. 
My thesis advisory committee consisted of Georg Martius, Peter Dayan, Michael Muehlebach, with my primary supervisor being Georg Martius.
In addition, I possess a masters degree in computer science with a machine learning focus from the Karlsruhe Institute of Technology, Karlsruhe, Germany and a bachelors degree in computer science from the University of Zagreb, Croatia.
</p>

<p>
In 2017 I was fortunate enough to have received a research fellowship with the Blue Brain Project in Geneva, Switzerland, 
where I came into contact with neuroscience.
In 2021 I spent some time at <b>Amazon</b> as an applied scientist intern doing work on variational inference, reinforcement learning and NLP in collaboration with Patrick Ernst and Gyuri Szarvas.
I spent part of 2022 at <b>DeepMind</b> hosted by Kimberly Stachenfeld in Peter Battaglia's group working on diffusion generative modelling for building better optimizers in close collaboration with Arnaud Doucet.
In 2024 I was visiting <b>Meta GenAI</b> Zurich, where I worked on building more efficient large scale diffusion generative models.
</p>


<p>
    I am interested in building intelligent agents (generators) that can act reasonably and creatively, this we achieve by imposing
    structure and constraints on the decisions, while pushing the boundary of their reasoning capabilities beyond the data.
</p>

<p>
In my free time I enjoy playing guitar, reading opinionated books on various topics, and all sorts of sport activities.
</p>

<!-- <p style="text-align:center">
    /
    {%for profile in site.data.profiles %}
    <a href="{{profile.link}}">{{profile.name}}</a> &nbsp;/&nbsp;
    {% endfor %}
</p> -->

<div style="text-align:center">
{%for sm in site.data.social_media%}
    <a href="{{sm.link}}"><i class="{{sm.favicon}}"></i></a>  &emsp;
{%endfor%}
</div>