---
layout: default
full_bleed: true
permalink: /blog
math: true # excerpts below can contain LaTeX
---

<main class="page">
  <header class="blog-header">
    <h1 class="blog-header__title">Writing</h1>
    <p class="blog-header__legend">
      <span>{% include icon.html name="pen" %} Blog post</span>
      <span>{% include icon.html name="note" %} Note</span>
    </p>
  </header>

  <ul class="blog-list">
    {% for post in site.posts %}
      {% if post.categories contains 'blog' or post.categories contains 'note' %}
        {% assign is_note = false %}
        {% if post.categories contains 'note' %}{% assign is_note = true %}{% endif %}
        <li class="blog-entry{% if is_note %} blog-entry--note{% endif %}">
          <h2 class="blog-entry__title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
              {% if is_note %}
                {% include icon.html name="note" class="icon" %}
              {% else %}
                {% include icon.html name="pen" class="icon" %}
              {% endif %}
            </a>
          </h2>
          {% assign words = post.content | number_of_words %}
          {% assign mins = words | divided_by: 200 %}
          {% if mins < 1 %}{% assign mins = 1 %}{% endif %}
          <div class="blog-entry__date">{{ post.date | date: "%d %B %Y" }} &middot; {{ mins }} min read</div>
          <div class="blog-entry__excerpt">{{ post.excerpt }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</main>
